<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/tompi.css" />
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30522283-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body  data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Tompi's blog</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <a href="./aboutMe.html">About me</a>
              </li>
              <li class="">
                <a href="http://github.com/tompi">Me on github</a>
              </li>
              <li class="">
                <a href="http://www.haukland.priv.no">My homepage</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

		<div class="hero-unit">
		  <h1>Tompi's blog</h1>
  			<p>Mostly just programming stuff I know I will need to remember, 
					but something just might turn out useful for you?</p>
		</div>
		
        <section>
            {{ content }}
        </section>
		</div>

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </body>
</html>
